// navbar
.app__navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem 2rem;
    background: rgba(37, 38, 39, 0.25); // original: 255, 255, 255
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(37, 38, 39,0.18);  // original: 255, 255, 255
    position: fixed;
    z-index: 2;
}

// navbar logo
.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // nested img tag
    img {
        width: 40px;
        height: 20px;

        // media queries
        @media screen and (min-width: 2000px) {
            width: 80px;
            height: 40px;
        }
    }
}

// for desktop menu
// navbar links
.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    // nested li tags
    li {
        margin: 0 1rem;
        cursor: pointer;

        flex-direction: column;

        // nested div tag
        div {
            width: 20px;
            height: 2px;
            background: transparent;
            border-radius: 10%;

            margin-bottom: 5px;
        }

        // nested anchor tag
        a {
            color: var(--platinum-color); // original: --gray-color
            text-decoration: none;
            flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.3s ease-in-out;

            // same as a:hover while being nested inside anchor tag
            &:hover {
                color: var(--secondary-color);
            }
        }

        // same as li:hover
        &:hover {

            // target the div tag
            div {
                background: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

// mobile menu
.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);

    svg {
        width: 70%;
        height: 70%;
        color: var(--eerieblack-color); // original: --white-color
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        // background: url('../../assets/bgWhite.png');
        background-color: var(--eerieblack-color); // original: --white-color
        background-size: cover;
        background-repeat: repeat;

        box-shadow: 0 0 20px rgba(211, 212, 217, 0.15); // original: 168, 168, 168

        // nested svg
        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--platinum-color); // original: --gray-color
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    // same as a:hover while being nested inside anchor tag
                    &:hover {
                    color: var(--secondary-color);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}